<launch>
 <!-- load the controllers -->
    <rosparam file="$(find husky)/config/husky_control.yaml" command="load"/>
    <node name="controller_spawner" pkg ="controller_manager" type="spawner" ns="/husky" args="fr_hip_frontal_position_controller fr_hip_sagittal_position_controller fr_knee_position_controller fr_ankle1_position_controller fl_hip_frontal_position_controller fl_hip_sagittal_position_controller fl_knee_position_controller fl_ankle1_position_controller br_hip_frontal_position_controller br_hip_sagittal_position_controller br_knee_position_controller br_ankle1_position_controller bl_hip_frontal_position_controller bl_hip_sagittal_position_controller bl_knee_position_controller bl_ankle1_position_controller joint_state_controller"/>
</launch>